

body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(screaming.JPG);
  background-size: 300px;

}


div{
    background-color: aliceblue;
}

p{
    background-color: aliceblue;
}

h1{
    color: orange;
    background-color: aliceblue;
    font-style: italic;
    font-weight: normal;
}

h2{
     color: orange;
     background-color: rgb(29, 91, 145);
    font-style: italic;
    font-weight: normal;
}

h3{
     color: orange;
     background-color: rgb(5, 106, 132) ;
    font-style: italic;
    font-weight: normal;
}

h4{
     color: orange;
     background-color: rgb(6, 6, 89);
    font-style: italic;
    font-weight: normal;
}

.imgs{
    border: 12px solid black;
    background-color: yellow; 
    width: 500px;
    padding: 10px;
    margin: 20px;
}

.bold2{
    font-style: italic;
    background-color: rgb(127, 255, 255);
}

.highlight2{
    color: rgb(241, 95, 5);
}

.gpa{
    font-weight: bolder;
}

.jstfy{
    text-align: justify;
}

.cntr{
    text-align: center;
}
