nav ul{
    list-style: none;
    margin: 0;
    padding: 0;

}

nav li{
    display:inline-block;
    border:solid black;
    width: 200px;
     margin-right:20px;
     margin-bottom:  20px;
    background-color: seagreen;

    
}

nav li a{
    display:block;
    color: black;
    text-decoration: none;
    padding: 20px;
}

nav li a:hover {

    background-color: greenyellow;
   


}






   
